.card-title[data-v-7872d8af] {
    font-weight: 700;
    font-family: titre;
    font-size: 26px;
    margin-bottom: 20px
}

#maitre_temps[data-v-7872d8af] {
    width: 150px
}

#carteAdverse[data-v-7872d8af] {
    text-align: center
}

.adverse[data-v-7872d8af] {
    margin-top: 10px
}

.question[data-v-7872d8af] {
    margin-bottom: 10px
}

.spinner-grow[data-v-7872d8af] {
    width: 50px;
    height: 50px;
    padding-top: 10px
}

label[for=carteAdverse][data-v-7872d8af] {
    font-family: titre;
    font-size: 20px
}

img[data-v-7872d8af] {
    margin: 0;
    padding: 0;
    width: 100%
}

form[data-v-7872d8af] {
    margin-bottom: 30px
}

.form-check[data-v-7872d8af] {
    margin: 0;
    padding: 0
}

h4[data-v-7872d8af] {
    display: block;
    margin-top: 50px;
    font-family: titre;
    font-size: 20px;
    font-weight: 700
}

.cat[data-v-7872d8af] {
    width: 50px !important;
    height: 50px !important;
    margin-left: 5px;
    border-style: groove !important;
    border-color: #fff !important;
    box-shadow: 2px 2px 2px grey
}

.card[data-v-7872d8af] {
    width: 25rem !important;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: none;
    margin-top: 20px;
    font-weight: 700
}

input[type=radio][data-v-7872d8af] {
    display: none
}

.jaune[data-v-7872d8af] {
    background-color: #d8d800;
    color: #000
}

.vert[data-v-7872d8af] {
    background-color: #0f0;
    color: #000
}

.rouge[data-v-7872d8af] {
    background-color: rgba(255, 0, 0, .8)
}

.rose[data-v-7872d8af] {
    background-color: #f400ff
}

[v-cloak][data-v-7872d8af] {
    display: none
}

.bleu[data-v-7872d8af] {
    background-color: #00f
}

.btn[data-v-7872d8af] {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 2px grey
}

label[data-v-7872d8af] {
    margin: 0;
    padding: 0
}

.valide[data-v-7872d8af] {
    display: block;
    background-color: beige;
    color: #000;
    font-family: titre;
    font-size: 20px;
    text-shadow: 2px 2px 2px grey
}

.visually[data-v-7872d8af] {
    text-align: center;
    font-size: 20px
}

@font-face {
    font-family: titre;
    src: url(../fonts/Julee-Regular.f3beba98.ttf)
}

@media screen and (max-width:500px) {
    .card[data-v-7872d8af] {
        width: 100% !important;
        margin: 0;
        margin-top: 0
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff
}